  <div id="mainnav">  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Expert CONF 2013</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
          <li data-menuanchor="speakers"><a href="#speakers">Speakers</a></li>
          <li data-menuanchor="schedule" class="mid-li-left"><a href="#schedule">Schedule</a></li>
          <li data-menuanchor="venue" class="mid-li-right"><a href="#venue">Venue</a></li>
          <li data-menuanchor="sponsors"><a href="#sponsors">Sponsors</a></li>
          <li data-menuanchor="register"><a href="#register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div><!-- /mainnav -->

<div class="hidden-xs">
      <h1 id="logo">
        <a href="./">
          <span class="line1">RUBY</span>
          <span class="line2">CON</span>
          <span class="line3">2015</span>
        </a>
      </h1>
    </div>

    <div>
      <section class="section" id="home">
        <div class="inner">
          <div class="content">
            <h1>RUBY CONFERENCE</h1>
            <h2>First-class conference for experts, bringing you 
              top speakers, the hottest topics and an unbeatable atmosphere.</h2>

            <h3>20th of May, 2015</h3>
            <h4>Bangkok, Thailand</h4>
            <div>
              <a href="#register" class="btn btn-primary btn-lg">Get Your <span>Ticket</span></a>
            </div>
          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <section class="section" id="speakers">
        <div class="inner">
          <div class="content">
            <h1>Speakers</h1>
            <div class="row">

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-1.jpg' %>
      <h2>Jeremy White</h2>
      <div>Candid Platoon</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-2.jpg' %>
      <h2>Alex Whitespoon</h2>
      <div>Open Source Fanatics</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-3.jpg' %>
      <h2>Stephanie Sims</h2>
      <div>BlackHat Linux Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-4.jpg' %>
      <h2>David Blane</h2>
      <div>Open Source Fanatics</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-5.jpg' %>
      <h2>Jason Woods</h2>
      <div>Designer Wall Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-6.jpg' %>
      <h2>Lynda Elric</h2>
      <div>Smashing the Wall</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-7.jpg' %>
      <h2>Rick Taylor</h2>
      <div>Breaking the Habits Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-8.jpg' %>
      <h2>Anna Buggati</h2>
      <div>Positive Design Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-9.jpg' %>
      <h2>David Lim</h2>
      <div>Source Code Inc.</div>
    </div>
  </div>

</div><!-- /row -->         </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <div class="section alt" id="schedule">
        <div class="inner">
          <div class="content">
            <h1>Schedule</h1>
            <div id="event-schedule" class="carousel slide">
  <div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li class="active" data-target="#event-schedule" data-slide-to="0">Day 1</li>
        <li data-target="#event-schedule" data-slide-to="1">Day 2</li>
        <li data-target="#event-schedule" data-slide-to="2">Day 3</li>
      </ol>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h2 class="schedule-day">22 November 2013</h2>
<div class="schedule">

  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/register.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">08.00 AM</div>
        <h4>Registration</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/opening.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">09.00 AM</div>
        <h4>Opening Ceremony</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-3.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">10.00 AM</div>
        <h4>Stephanie Sims <span>BlackHat Linux Inc.</span></h4>
        <p>Topic: <span>Securing your Linux Server</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-4.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">11.00 AM</div>
        <h4>David Blane <span>Open Source Fanatics</span></h4>
        <p>Topic: <span>Social Platform for Enterprise</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
       <%= image_tag 'samples/avatar-5.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">12.00 AM</div>
        <h4>Jason Woods <span>Designer Wall Inc.</span></h4>
        <p>Topic: <span>Designing for Human</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/lunch.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">01.00 PM</div>
        <h4>Lunch Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-6.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">02.00 PM</div>
        <h4>Lynda Elric <span>Smashing the Wall</span></h4>
        <p>Topic: <span>PSR Huh?</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-7.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">03.00 PM</div>
        <h4>Rick Taylor <span>Breaking the Habits Inc.</span></h4>
        <p>Topic: <span>PHP Design Patterns in Real World</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-8.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">04.00 PM</div>
        <h4>Anna Buggati <span>Positive Design Inc.</span></h4>
        <p>Topic: <span>Javascript: Beyond the Basics</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/break.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">05.00 PM</div>
        <h4>Coffee Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-9.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">05.30 PM</div>
        <h4>David Lim <span>Source Code Inc.</span></h4>
        <p>Topic: <span>Deploy Secured Web Server with CloudStack</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


</div><!-- /schedule -->    </div>

    <div class="item">
      <h2 class="schedule-day">23 November 2013</h2>
<div class="schedule">

  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/opening.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">09.00 AM</div>
        <h4>Opening Ceremony</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-3.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">10.00 AM</div>
        <h4>Stephanie Sims <span>BlackHat Linux Inc.</span></h4>
        <p>Topic: <span>Securing your Linux Server</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-4.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">11.00 AM</div>
        <h4>David Blane <span>Open Source Fanatics</span></h4>
        <p>Topic: <span>Social Platform for Enterprise</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-5.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">12.00 AM</div>
        <h4>Jason Woods <span>Designer Wall Inc.</span></h4>
        <p>Topic: <span>Designing for Human</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/lunch.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">01.00 PM</div>
        <h4>Lunch Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
       <%= image_tag 'samples/avatar-6.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">02.00 PM</div>
        <h4>Lynda Elric <span>Smashing the Wall</span></h4>
        <p>Topic: <span>PSR Huh?</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-7.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">03.00 PM</div>
        <h4>Rick Taylor <span>Breaking the Habits Inc.</span></h4>
        <p>Topic: <span>PHP Design Patterns in Real World</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-8.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">04.00 PM</div>
        <h4>Anna Buggati <span>Positive Design Inc.</span></h4>
        <p>Topic: <span>Javascript: Beyond the Basics</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/break.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">05.00 PM</div>
        <h4>Coffee Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-9.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">05.30 PM</div>
        <h4>David Lim <span>Source Code Inc.</span></h4>
        <p>Topic: <span>Deploy Secured Web Server with CloudStack</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


</div><!-- /schedule -->    </div>

    <div class="item">
      <h2 class="schedule-day">24 November 2013</h2>
<div class="schedule">

  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/opening.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">09.00 AM</div>
        <h4>Opening Ceremony</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-3.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">10.00 AM</div>
        <h4>Stephanie Sims <span>BlackHat Linux Inc.</span></h4>
        <p>Topic: <span>Securing your Linux Server</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-4.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">11.00 AM</div>
        <h4>David Blane <span>Open Source Fanatics</span></h4>
        <p>Topic: <span>Social Platform for Enterprise</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-5.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">12.00 AM</div>
        <h4>Jason Woods <span>Designer Wall Inc.</span></h4>
        <p>Topic: <span>Designing for Human</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/lunch.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">01.00 PM</div>
        <h4>Lunch Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-6.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">02.00 PM</div>
        <h4>Lynda Elric <span>Smashing the Wall</span></h4>
        <p>Topic: <span>PSR Huh?</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-7.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">03.00 PM</div>
        <h4>Rick Taylor <span>Breaking the Habits Inc.</span></h4>
        <p>Topic: <span>PHP Design Patterns in Real World</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-8.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">04.00 PM</div>
        <h4>Anna Buggati <span>Positive Design Inc.</span></h4>
        <p>Topic: <span>Javascript: Beyond the Basics</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/break.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">05.00 PM</div>
        <h4>Coffee Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-9.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">05.30 PM</div>
        <h4>David Lim <span>Source Code Inc.</span></h4>
        <p>Topic: <span>Deploy Secured Web Server with CloudStack</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


</div><!-- /schedule -->    </div>
  </div>
</div>          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <section class="section" id="venue">
        <div class="inner">
          <div class="content">
            <h1>Venue</h1>
            <h2>Pocket Play Labs</h2>
<h3>Bangkok, Thailand</h3>

<div class="map-canvas">
  <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Bangkok%2BPocket%2BPlay%2BLabs&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>

<!-- 2211%2BAlaskan%2BWay%2BPier%2B66%2BSeattle%2C%2BWashington%2B98121%2BUSA -->

</div>          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <div class="section alt" id="sponsors">
        <div class="inner">
          <div class="content">
            <h1>Sponsors</h1>
            <h2>Platinum Sponsors</h2>

<div>
  <a href="#">
    <%= image_tag 'samples/logos/RedHat.png' %>
  </a>
  
  <a href="#">
    <%= image_tag 'samples/logos/Ubuntu.png' %>
  </a>
</div>

<hr>

<h2>Premium Sponsors</h2>

<div>
  <a href="#">
    <%= image_tag 'samples/logos/Google.png' %>
  </a>

  <a href="#">
    <%= image_tag 'samples/logos/Rackspace.png' %>
  </a>

  <a href="#">
    <%= image_tag 'samples/logos/NewRelic.png' %>
  </a>

  <a href="#">
    <<%= image_tag 'samples/logos/Amazon.png' %>
  </a>

  <a href="#">
    <%= image_tag 'samples/logos/CloudStack.png' %>
  </a>
</div>          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->



      <section class="section" id="register">
        <div class="inner">
          <div class="content">
            <h1>Registration</h1>
            <div class="row content">

  <div class="col-lg-10 col-lg-push-1">

    <form>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 required">
          <input type="text" class="form-control" name="firstname" required="required" placeholder="First name">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 required">
          <input type="text" class="form-control" name="lastname" required="required" placeholder="Last name">
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-lg-12 required">
          <input type="email" class="form-control" name="email" required="required" placeholder="Email address">
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 required">
          <input type="text" class="form-control" name="address" required="required" placeholder="Address">
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input type="text" class="form-control" name="street" placeholder="Street">
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 required">
          <input type="text" class="form-control" name="zipcode" required="required" placeholder="Zip code">
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 required">
          <input type="text" class="form-control" name="city" required="required" placeholder="City">
        </div>

        <div class="col-lg-6 col-md-5 col-sm-4 col-xs-4 required">
          <input type="text" class="form-control" name="state" required="required" placeholder="State">
        </div>
      </div><!-- /row -->

      <div class="row">
        <div class="col-lg-12 required">
          <input type="text" class="form-control" name="country" required="required" placeholder="Country">
        </div>
      </div><!-- /row -->

      <hr>
      <center>
        <h2 style="color: white">
          *Attendance is free of charge
        </h2>
      </center>
    
<!--       <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
          <select id="ticket">
            <option>1 Ticket</option>
            <option>2 Tickets</option>
            <option>3 Tickets</option>
            <option>5 Tickets</option>
            <option>10 Tickets</option>
            <option>15 Tickets</option>
            <option>20 Tickets</option>
          </select>
        </div> -->

<!--         <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
          <button class="btn btn-info btn-lg btn-block">Pay Now <span>$</span><span id="totalPrice">95</span></button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div><img class="pull-right" src="img/credit-cards.png" alt="Payment processor accepted"></div>
        </div>
      </div> -->
    </form>

  </div>
</div>          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


    </div>
    <footer>
      <div class="container">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 socials">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">              
          <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="typo.html">Typography</a></li>
            <li><a href="forms.html">Forms</a></li>
            <li><a href="table.html">Tables</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 copyright">
          &copy; Expert Conference 2013
        </div>
      </div>
    </footer>
