  <div id="mainnav">  
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header visible-xs">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Expert CONF 2013</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
          <li data-menuanchor="speakers"><a href="#speakers">Speakers</a></li>
          <li data-menuanchor="schedule" class="mid-li-left"><a href="#schedule">Schedule</a></li>
          <li data-menuanchor="venue" class="mid-li-right"><a href="#venue">Venue</a></li>
          <li data-menuanchor="sponsors"><a href="#sponsors">Sponsors</a></li>
          <li data-menuanchor="register"><a href="#register">Register</a></li>
        </ul>
      </div>
    </nav>
  </div><!-- /mainnav -->

<div class="hidden-xs">
      <h1 id="logo">
      </h1>
    </div>

    <div>
      <section class="banner" id="home">
        <div class="inner">
          <div class="content">
            <h1>RUBY CONFERENCE</h1>
            <p class="sizemic">
              <!-- RubyCon BKK is a monthly conference focusting on the Ruby language invented by Yukihiro “Matz” Matsumoto.
              Ruby is an Open Source langauge whogained a lot of popularity after the Ruby on Rails framework was released 
              in 2006, developed by the Danish David Heinemeier Hansson who used it to write the now world famous Basecamp.

              This technology is used by many of the worlds biggest tech companies in the world because of its abilty for rapid development 
              and its ability to shorten the time to market for your product. Wanne learn tech? Start here dude, we are very friendly and we help beginners get started and CTOs to get smarter.
              Thats what the Ruby commmunity does!

              Ruby on Rails developers are now the highest paying development jobs in the tech industry today, and its interest is still growing.

              Amongst the companies use Ruby for their products are: Amazon, Twitter, Hulu, GroupOn, Shopify, Cruncbase, Bloomberg, Indiegogo, 
              Airbnb, SoundCloud, Heroku, Zendesk, GitHub... Well I think you get it already.... -->
            </p>
            <h3>20th of May, 2015</h3>
            <h4>Bangkok, Thailand</h4>
            <div>
              <a href="#register" class="btn btn-primary btn-lg">Get Your <span>Ticket</span></a>
            </div>
          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->
      
      <section class="platinum-sponsors">
        <a href="#">
          <%= image_tag 'samples/logos/platinum/omise.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/pocket-play.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/oozou.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/amazonWS.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/hubba.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/tech.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/e27.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/github.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/dtac.png' %>
        </a>
        <a href="#">
          <%= image_tag 'samples/logos/platinum/find-your-space.png' %>
        </a>
      </section>

      <section class="section" id="speakers">
        <div class="inner">
          <div class="content">
            <h1>Speakers</h1>
            <div class="row">

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-1.jpg' %>
      <h2>Jeremy White</h2>
      <div>Candid Platoon</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-2.jpg' %>
      <h2>Alex Whitespoon</h2>
      <div>Open Source Fanatics</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-3.jpg' %>
      <h2>Stephanie Sims</h2>
      <div>BlackHat Linux Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-4.jpg' %>
      <h2>David Blane</h2>
      <div>Open Source Fanatics</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-5.jpg' %>
      <h2>Jason Woods</h2>
      <div>Designer Wall Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-6.jpg' %>
      <h2>Lynda Elric</h2>
      <div>Smashing the Wall</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-7.jpg' %>
      <h2>Rick Taylor</h2>
      <div>Breaking the Habits Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-8.jpg' %>
      <h2>Anna Buggati</h2>
      <div>Positive Design Inc.</div>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="speaker">
      <%= image_tag 'samples/avatar-9.jpg' %>
      <h2>David Lim</h2>
      <div>Source Code Inc.</div>
    </div>
  </div>

</div><!-- /row -->         </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <div class="section alt" id="schedule">
        <div class="inner">
          <div class="content">
            <h1>Schedule</h1>
            <div id="event-schedule" class="carousel slide">
  <div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li class="active" data-target="#event-schedule" data-slide-to="0">Day 1</li>
        <li data-target="#event-schedule" data-slide-to="1">Day 2</li>
        <li data-target="#event-schedule" data-slide-to="2">Day 3</li>
      </ol>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h2 class="schedule-day">22 November 2013</h2>
<div class="schedule">

  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/register.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">08.00 AM</div>
        <h4>Registration</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/opening.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">09.00 AM</div>
        <h4>Opening Ceremony</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-3.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">10.00 AM</div>
        <h4>Stephanie Sims <span>BlackHat Linux Inc.</span></h4>
        <p>Topic: <span>Securing your Linux Server</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-4.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">11.00 AM</div>
        <h4>David Blane <span>Open Source Fanatics</span></h4>
        <p>Topic: <span>Social Platform for Enterprise</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
       <%= image_tag 'samples/avatar-5.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">12.00 AM</div>
        <h4>Jason Woods <span>Designer Wall Inc.</span></h4>
        <p>Topic: <span>Designing for Human</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/lunch.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">01.00 PM</div>
        <h4>Lunch Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-6.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">02.00 PM</div>
        <h4>Lynda Elric <span>Smashing the Wall</span></h4>
        <p>Topic: <span>PSR Huh?</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-7.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">03.00 PM</div>
        <h4>Rick Taylor <span>Breaking the Habits Inc.</span></h4>
        <p>Topic: <span>PHP Design Patterns in Real World</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-8.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">04.00 PM</div>
        <h4>Anna Buggati <span>Positive Design Inc.</span></h4>
        <p>Topic: <span>Javascript: Beyond the Basics</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/break.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">05.00 PM</div>
        <h4>Coffee Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-9.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">05.30 PM</div>
        <h4>David Lim <span>Source Code Inc.</span></h4>
        <p>Topic: <span>Deploy Secured Web Server with CloudStack</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


</div><!-- /schedule -->    </div>

    <div class="item">
      <h2 class="schedule-day">23 November 2013</h2>
<div class="schedule">

  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/opening.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">09.00 AM</div>
        <h4>Opening Ceremony</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-3.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">10.00 AM</div>
        <h4>Stephanie Sims <span>BlackHat Linux Inc.</span></h4>
        <p>Topic: <span>Securing your Linux Server</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-4.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">11.00 AM</div>
        <h4>David Blane <span>Open Source Fanatics</span></h4>
        <p>Topic: <span>Social Platform for Enterprise</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-5.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">12.00 AM</div>
        <h4>Jason Woods <span>Designer Wall Inc.</span></h4>
        <p>Topic: <span>Designing for Human</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/lunch.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">01.00 PM</div>
        <h4>Lunch Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
       <%= image_tag 'samples/avatar-6.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">02.00 PM</div>
        <h4>Lynda Elric <span>Smashing the Wall</span></h4>
        <p>Topic: <span>PSR Huh?</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-7.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">03.00 PM</div>
        <h4>Rick Taylor <span>Breaking the Habits Inc.</span></h4>
        <p>Topic: <span>PHP Design Patterns in Real World</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-8.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">04.00 PM</div>
        <h4>Anna Buggati <span>Positive Design Inc.</span></h4>
        <p>Topic: <span>Javascript: Beyond the Basics</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/break.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">05.00 PM</div>
        <h4>Coffee Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-9.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">05.30 PM</div>
        <h4>David Lim <span>Source Code Inc.</span></h4>
        <p>Topic: <span>Deploy Secured Web Server with CloudStack</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


</div><!-- /schedule -->    </div>

    <div class="item">
      <h2 class="schedule-day">24 November 2013</h2>
<div class="schedule">

  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/opening.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">09.00 AM</div>
        <h4>Opening Ceremony</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-3.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">10.00 AM</div>
        <h4>Stephanie Sims <span>BlackHat Linux Inc.</span></h4>
        <p>Topic: <span>Securing your Linux Server</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-4.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">11.00 AM</div>
        <h4>David Blane <span>Open Source Fanatics</span></h4>
        <p>Topic: <span>Social Platform for Enterprise</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-5.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">12.00 AM</div>
        <h4>Jason Woods <span>Designer Wall Inc.</span></h4>
        <p>Topic: <span>Designing for Human</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/lunch.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">01.00 PM</div>
        <h4>Lunch Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-6.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">02.00 PM</div>
        <h4>Lynda Elric <span>Smashing the Wall</span></h4>
        <p>Topic: <span>PSR Huh?</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-7.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">03.00 PM</div>
        <h4>Rick Taylor <span>Breaking the Habits Inc.</span></h4>
        <p>Topic: <span>PHP Design Patterns in Real World</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-8.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">04.00 PM</div>
        <h4>Anna Buggati <span>Positive Design Inc.</span></h4>
        <p>Topic: <span>Javascript: Beyond the Basics</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/break.jpg' %>
      </div>
      <div class="title col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="time">05.00 PM</div>
        <h4>Coffee Break</h4>
      </div>
    </div>
  </div><!-- /tentative -->


  <div class="tentative">
    <div class="row">
      <div class="image col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <%= image_tag 'samples/avatar-9.jpg' %>
      </div>
      <div class="title track col-lg-10 col-md-10 col-sm-10 col-xs-9">
        <div class="social">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>
        <div class="time">05.30 PM</div>
        <h4>David Lim <span>Source Code Inc.</span></h4>
        <p>Topic: <span>Deploy Secured Web Server with CloudStack</span></p>
        <p class="summary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div><!-- /tentative -->


</div><!-- /schedule -->    </div>
  </div>
</div>          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <section class="section" id="venue">
        <div class="inner">
          <div class="content">
            <h1>Venue</h1>
            <h2>Pocket Play Labs</h2>
<h3>Bangkok, Thailand</h3>

<div class="map-canvas">
  <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Bangkok%2BPocket%2BPlay%2BLabs&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>

</div>          </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


      <div class="section alt" id="sponsors">
        <div class="inner">
          <div class="content">
            <h1>Sponsors</h1>


            <div class="statement">
              <p>
                If you guys can help us out a <i>little</i> bit, it would mean the world to us. We are <i>literally</i> paying out of our own pockets now to help 
                grow the startup community in Bangkok, and we can't do these events much longer on our own as they continue to grow so fast.
                The tech scene in Bangkok is <b>SCREAMING</b> for developers and we literally drag them out from universities and every other cave they 
                live in to get them to open their eyes and see how much the world has to offer them.
              </p>
              <p>
                Just try to imagine all the things you take for granted that they might not even have heard about. That thing might be <b>YOUR</b> service!
                Most people have heard about "the Cloud", big data, and how important metrics are but have they tried Ninefold, Mixpanel,intercom.io 
                or even know about Microsoft's BizSpark program?
              </p>
              <p>
                This is <b>YOUR</b> chance to reach the startup community in a city of 15 million people with just a few hundred bucks you can increase your 
                client base in a place you never even thought about yesterday! Please help us help you by raising awareness of your products. This is how we all thrive together!
              </p>

              <center>
                <b>
                  Vouchers only
                </b>
              </center>
              <p>
                Logo on the website as a voucher sponsor
              </p>
              <center>
                <b>
                  Silver Packages
                </b>
              </center>
              <p>
                $150 USD Your logos on flyers, web site and you can pitch for job openings after the speakers
              </p>
              <center>
                <b>
                  Gold Packages
                </b>
              </center>
              <p>
                $250 Your big size logos on flyers, Gold sponsor status web site and our newsletters and T-shirts, short bio of your company on the webpage and a link back to your site
              </p>
              <center>
                <b>
                  Platinum Packages
                </b>
              </center>
              <p>
                $500 You're insanely big size logos on flyers, Platinum sponsor status web site and our newsletters and T-shirts, short bio of your company on the webpage and link to your site AND eternal gratitude.
              </p>
              <center>
                <b>
                  What do we use the money for?
                </b>
              </center>
              <p>
                Prizes, marketing of the conference, speaker's costs and the rest goes into a fund to fund the next meetup.
                This is a <b>PURE</b> non-profit venture and all money is spent on developing technical expertise and networking.
                It all goes back to you guys eventually, it's like carbon. ;)  
              </p>            
            </div>

            <h2>Platinum Sponsors</h2>

            <div>
              <a href="#">
                <%= image_tag 'samples/logos/RedHat.png' %>
              </a>
              
              <a href="#">
                <%= image_tag 'samples/logos/Ubuntu.png' %>
              </a>
            </div>

            <hr>

            <h2>Premium Sponsors</h2>

            <div>
              <a href="#">
                <%= image_tag 'samples/logos/Google.png' %>
              </a>

              <a href="#">
                <%= image_tag 'samples/logos/Rackspace.png' %>
              </a>

              <a href="#">
                <%= image_tag 'samples/logos/NewRelic.png' %>
              </a>

              <a href="#">
                <%= image_tag 'samples/logos/Amazon.png' %>
              </a>

              <a href="#">
                <%= image_tag 'samples/logos/CloudStack.png' %>
              </a>
            </div>          
          </div><!-- /content -->

        </div><!-- /inner -->
      </section><!-- /section -->

      <section class="promo">
        <div class="statement" style="color: white">
          <center>
            <h1 style="margin: 0px;">
              Free Macbook!
            </h1>
          </center>
          <center>
            <h2>
              What the hell?
            </h2>
          </center>
          <center>
            <b>
              Yes, its true. We are giving away a <i>brand new fully specked</i> Macbook Air to you guys just for showing up.
            </b>
            <br><br>
          </center>
          <center>
            <i>Yeah, right, whats the catch?</i> <br> <br>
          </center>
          <p>
            No catch! Just register, and put your business card in the jar when you show up
            and after the speakers are done we will draw out a business card (if you dont have one just put your name in a note) 
            and that girl, or guy, walks out with a brand new Mac Air. Even we don't have that!
          </p>
          <p>
            So register today, and it will be you that can show off to your friends what you won just by showing up at Ekkamai one random Wednesday!
          </p>
        </div>


      </section>

      <section class="section" id="register">
        <div class="inner-bt">
          <div class="content">
            <h1>Free Registration</h1>
            <div class="row content" id="form-container">

              <%= form_for(@attendee, remote: true, :html => {:id => "attendenceForm"}) do |f| %>
                <% if @attendee.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

                    <ul>
                    <% @attendee.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>


                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 required">
                    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 required">
                    <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                  </div>
                </div><!-- /row -->

                <div class="row">
                  <div class="col-lg-12 required">
                    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
                  </div>
                </div><!-- /row -->


                <hr>
                <center>
                  <h2 style="color: white">
                    *Attendance is free of charge
                  </h2>
                </center>

                <div class="col-lg-12 required">
                    <%= f.submit class: 'btn btn-info btn-lg btn-block' %>
                  </div>
                </div>

              <% end %>
        </div><!-- /content -->
        </div><!-- /inner -->
      </section><!-- /section -->


    </div>
    <footer>
      <div class="container">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 socials">
          <a href="#"><i class="fa fa-facebook-square"></i></a>
          <a href="#"><i class="fa fa-twitter-square"></i></a>
          <a href="#"><i class="fa fa-google-plus-square"></i></a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">              
          <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="typo.html">Typography</a></li>
            <li><a href="forms.html">Forms</a></li>
            <li><a href="table.html">Tables</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 copyright">
          &copy; Expert Conference 2013
        </div>
      </div>
    </footer>
